header{
    width: 1200px;
    height: 116px;
}

.hed button {
     width: 100px;
     height: 30px;
    border-radius: 5px;
     background: #f6dda7;
 }

.hed h1 {
    display: flex;
    justify-content: center;
}

footer {
    width: 1576px;
    height: 125px;
    background-color: saddlebrown;
}